.formcontato{
    background: var(--color--secundario);
}

.formcontato__title{
    margin: 0 auto;
    font-weight: 700;
    font-size: 2rem;
    
}

.formcontato__contacto{
    display: flex;
    margin: 0 9.5rem 0 9.5rem;
}

@media only screen and (max-width: 768px){
    .formcontato__contacto{
        margin:1rem auto
    }

    .formcontato__img{
        display: none;
    }

    .formcontato__title{
        font-size: 1.375rem;
    }

    .formcontato__subtext{
        font-size: 1rem;
    }

    
}