.skills__line{
    display: flex;    
    padding: 0 9.5rem 0 9.5rem;    
    
}

.skills__box{    
    background: #FFFFFF;    
    box-sizing: border-box;
    width: 100%;    
    padding: 1rem;
    margin-right: 1rem;
}

.skills__name{
    font-weight: 700;
}