.skills__line{
    display: flex;    
    padding: 0 9.5rem 0 9.5rem;    
    
}

.skills__box{    
    background: #FFFFFF;    
    box-sizing: border-box;
    width: 100%;    
    padding: 1rem;
    margin-right: 1rem;
}

.skills__name{
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .skills__line{
        padding: 0;
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-template-rows: 2;
        gap: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    .skills__line{
        padding: 0;        
        grid-template-columns: 48% 48%;               
        gap: 1rem;
    }
}

