.experiencie__box{
    display: flex;
    margin: 0 9.5rem 1rem 9.0rem;
    
}

.second{    
    flex-direction: row-reverse;
}

.experience__info{
    align-self: center;
    font-weight: 700;
    font-size: 1.375rem;
    text-align: left;
    
}

.experience__text{
    font-size: 1rem;
    font-weight: 500;
}

.experiencia__botao--repo{
    padding: 1rem;
    font-size: 1rem;
    border-color: var(--color--botones);
    color: var(--color--botones);
}

.experience__botao--demo{
    padding: 1rem;
    font-size: 1rem;
    background: var(--color--botones);
    border: none;
    color: var(--cor-de-fundo);  
}

.experience__img{
    width: 72.198%;
    height: 25.375em;
    
}