.experiencie__box{
    display: flex;
    margin: 0 9.5rem 1rem 9.0rem;
    
}

.second{    
    flex-direction: row-reverse;
}

.experience__info{
    align-self: center;
    font-weight: 700;
    font-size: 1.375rem;
    text-align: left;
    
}

.experience__text{
    font-size: 1rem;
    font-weight: 500;
}

.experiencia__botao--repo{
    padding: 1rem;
    font-size: 1rem;
    border-color: var(--color--botones);
    color: var(--color--botones);
}

.experience__botao--demo{
    padding: 1rem;
    font-size: 1rem;
    background: var(--color--botones);
    border: none;
    color: var(--cor-de-fundo);  
}

.experience__img{
    width: 72.198%;
    height: 25.375em;
    
}

@media only screen and (max-width: 768px){
    .experiencie__box{
        flex-direction: column;
        margin:0
    }

    .experience__info{
        align-self:flex-start;
        font-size: 1rem;
    }

    .experience__text{
        font-size: 0.875rem;
    }
    
    .experience__img{
        height: 320px;
        width: 100%;
    }

    .experiencia__botao--repo {
        padding: 0.75rem 1rem 0.75rem 1rem ;
    }

    .experience__botao--demo{
        padding: 0.75rem 1rem 0.75rem 1rem ;   
    }
}

@media only screen and (max-width: 450px) {
    .experience__img{
        width: 296px;
        height: 144px;
    }

    .experience__info{
        margin-bottom: 4rem;
        margin-top: 1rem;
    }

}