.hobbies__line{
    display: flex;    
    padding: 0 9.5rem 0 9.5rem;    
}

.hobbies__box{
    background: #FFFFFF;    
    box-sizing: border-box;
    width: 100%;    
    padding: 1rem;
    margin-right: 1rem;
}

.hobbies__name{
    font-weight: 700;
}

@media only screen and (max-width: 768px){
    .hobbies__line{
        padding: 0;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 2;
        gap: 1rem;
    }

    .hobbies__box{
        background: #FFFFFF;    
        box-sizing: border-box;
        width: 100%;    
        padding: 1rem;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    .hobbies__line{
        padding: 0;        
        grid-template-columns: 50% 50%;        
        gap: 1rem;
    }

}