.hobbies__line{
    display: flex;    
    padding: 0 9.5rem 0 9.5rem;    
}

@media only screen and (max-width: 768px){
    .hobbies__line{
        padding: 0;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
        gap: 1rem;
    }
}