
.hobbies__title{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}


@media only screen and (max-width: 768px){
    .hobbies__title{
        font-size: 1.375rem;
    }
    
    
}
