.academic{
    background: var(--color--secundario);
}

.academic__title{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

@media only screen and (max-width: 768px){
    .academic__title{
        font-size: 1.375rem;
    }
    
}