.title__profile{
    padding: 0rem 9.5rem 0rem 0rem  ;
}

@media only screen and (max-width: 768px) {
    .title__profile{
        padding: 0;
        height: 9.1rem;
        width: 9.1rem;
        align-self: center;
    }
}