.title__profile{
    width: 368px;
    height: 368px;
}

@media only screen and (max-width: 768px) {
    .title__profile{
        padding: 0;
        height: 9.1rem;
        width: 9.1rem;
        align-self: center;
    }
}